.footer-bg {
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

    min-height: 210px;
    background-image: var(--bg-mobile);

    @media (min-width: 481px) {
        background-image: var(--bg-desktop);
    }

    @media (min-width: 768px) {
        min-height: clamp(260px, 32vh, 420px);
    }

}
.footer-capsule {
    display: flex;
    align-items: center;
    background-color: white;
    width: 95%; 
    max-width: 1800px;
    height: clamp(200px, 18vw, 320px);
    border-radius: 350px 0 0 350px;

    justify-content: space-between;
    padding: 0; 
    margin-left: auto; 
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.footer-logo {
    padding-left: 8%;
    flex: 1;
    display: flex;
    justify-content: flex-start; 
}

.footer-logo img {
    height: 100%; 
    width: 100%;
    max-width: 300px;
    display: block;
}

.footer-socials {
    flex: 1.2;
    padding: 5%;
    display: flex;
    justify-content: center; 
    justify-content: space-around;
}

.social-btn {
    width: 100%;
    height: 100%;
    max-width: none;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.social-btn img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

.social-btn:hover {
    transform: scale(1.1);
}

.join-team-btn {
    color: #0b4365 !important;
    text-decoration: none !important;

    font-family: "Gotham";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;

    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

.join-team-btn {
    transition: transform 0.3s ease;
}

.join-team-btn:hover {
    opacity: 0.75;
    transform: scale(1.05);
}

.footer-map {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    height: 100%;
}

.footer-map img {
    width: auto;
    height: 100%;
    opacity: 1;
    margin: 10px 0px;
}
@media (min-width: 2400px) {
    .footer-bg {
        min-height: clamp(530px, calc(18.87vw + 77px), 850px);
        background-size: cover;
        background-position: center;
      }
    
      .footer-capsule {
        width: clamp(2140px, calc(93.16vw - 96px), 3720px);
        max-width: none;
    
        height: clamp(410px, calc(17.1vw), 700px);
        border-radius: clamp(410px, calc(17.1vw), 700px) 0 0
                       clamp(410px, calc(17.1vw), 700px);
    
        margin-left: auto;
      }
    
      .footer-capsule .footer-logo {
        flex: 1.15;
        padding-left: clamp(8%, calc(5vw - 3%), 12%);
      }
    
      .footer-capsule .footer-logo img {
        width: clamp(360px, calc(20.05vw - 121px), 700px) !important;
        max-width: none;
        height: auto;
        display: block;
      }
    
      .footer-capsule .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(16px, calc(1vw - 10px), 26px);
        padding: clamp(5%, calc(2vw + 1%), 7%);
      }
    
      .footer-capsule .footer-socials .social-btn {
        flex: 0 0 clamp(90px, calc(4.72vw - 23px), 170px);
        width: clamp(90px, calc(4.72vw - 23px), 170px);
        height: clamp(90px, calc(4.72vw - 23px), 170px);
        max-width: none;
      }
    
      .footer-capsule .footer-socials .social-btn img {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: contain;
        display: block;
      }
    
      .join-team-btn {
        font-size: clamp(40px, calc(1.89vw - 5.3px), 72px);
        margin-left: clamp(55px, calc(2.95vw - 15.8px), 105px);
      }
      
      .footer-map img {
        height: 100%;
      }
}

@media (min-width: 1442px) and (max-width: 2399.5px) {
    .footer-bg {
        min-height: clamp(330px, calc(17.76vw + 74px), 500px);
        background-size: cover;
        background-position: center;
      }
    
      .footer-capsule {
        width: clamp(1240px, calc(93.16vw - 96px), 2140px);
        max-width: none;
      
        height: clamp(245px, calc(17.24vw - 2px), 410px);
        border-radius: clamp(410px, calc(17.1vw), 700px) 0 0
                       clamp(410px, calc(17.1vw), 700px);
    
        margin-left: auto;
      }
    
      .footer-capsule .footer-logo {
        flex: 1.15;
        padding-left: clamp(8%, calc(5vw - 3%), 12%);
      }
    
      .footer-capsule .footer-logo img {
        width: clamp(250px, calc(16.72vw + 9px), 410px) !important;
        max-width: none;
        height: auto;
        display: block;
      }
    
      .footer-capsule .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(12px, calc(1.46vw - 9px), 26px);
        padding: clamp(5%, calc(2vw + 1%), 7%);
      }
    
      .footer-capsule .footer-socials .social-btn {
        flex: 0 0 clamp(56px, calc(3.55vw + 5px), 90px);
        width: clamp(56px, calc(3.55vw + 5px), 90px);
        height: clamp(56px, calc(3.55vw + 5px), 90px);
        max-width: none;
      }
    
      .footer-capsule .footer-socials .social-btn img {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: contain;
        display: block;
      }
    
      .join-team-btn {
        font-size: clamp(14px, calc(1.89vw - 5.3px), 40px);
        margin-left: clamp(22.5px, calc(2.95vw - 15.8px), 55px);
      }
      
      .footer-map img {
        height: 100%;
      }
}

@media (min-width: 769px) and (max-width: 1441px) {
    .footer-capsule {
        height: 140px;
    }

    .footer-map {
        display: none;
    }

    .social-btn {
        max-width: 28px;
    }

    .social-btn img {
        width: 26px !important;
    }

    .full-screen-section {
        width: 50%;
        height: auto !important;
        min-height: 220px;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 481px) {
    .footer-bg {
        min-height: 150px;
        background-size: cover;
        background-position: center;
      }

    .footer-capsule {
        height: 90px;
        justify-content: center !important;
        gap: 8px !important;
        margin-bottom: 50px;

    }

    .footer-logo {
        flex: 0 0 auto !important;
        padding-left: 0 !important;
        padding-right: 5px;
        margin-right: clamp(0px, calc(11.11vw - 43.33px), 10px);
        margin-left: -10px;
        
        width: clamp(95px, calc(27.78vw - 13.33px), 120px) !important;
        max-width: none !important;
        height: auto !important;
    }

    .footer-socials {
        gap: 4px;
        flex: 0 0 auto !important;
        padding: 0 !important;
        margin-left: -2px;
    }

    .footer-map {
        display: none;
    }

    .social-btn {
        max-width: 22px;
    }

    .social-btn img {
      width: clamp(19px, calc(3.33vw + 6px), 22px) !important;
      height: clamp(19px, calc(3.33vw + 6px), 22px) !important;
    }

    .join-team-btn {
      font-size: clamp(8.6px, calc(1.63vw + 2.51px), 11px);
        white-space: nowrap;
        margin-left: clamp(10px, calc(5.56vw - 11.7px), 15px);
        letter-spacing: 1px;
    }

    .full-screen-section {
        width: 100%;
        height: auto !important;
        min-height: 190px;
    }
}

.social-btn img {
    width: 50px; 
    height: auto;
    display: block;
}

.social-btn:hover {
    transform: scale(1.15) rotate(-15deg);
}

.social-btn:hover img {
    filter: brightness(1.1);
}