.join-team-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 130px 30px 120px;
    color: white;
    text-align: center;
}

.join-team-container h1 {
    font-family: "Gotham";
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 30px;
}

.join-team-container p {
    font-size: 24px;
    line-height: 1.6;
}

.join-team-container a {
    color: #2c84c6;
    font-size: 28px;
    text-decoration: none;
}